<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio_Ishpreet</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- adding favicon-->
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <!-- goggle font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- end of goggle font-->


    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <!-- header-->
    <header class="header" data-header>
        <h1 class="hidden">None</h1>
        <div class="container">
            <img src="images/logo.svg" class="logo" width="40" height="30" alt="logo">

            <!-- NAV Element-->
            <nav class="navbar" data-navbar>
                <ul class="navbar-list">
                    <li><a href="#home" class="navbar-link" data-nav-link>Home</a></li>
                    <li><a href="#MyWork" class="navbar-link" data-nav-link>My Portfolio  </a></li>

                    <li><a href="#skills" class="navbar-link" data-nav-link>Skills</a></li>
                    <li><a href="#contact" class="navbar-link" data-nav-link>Contact Me</a></li>
                </ul>
            </nav>
            <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </button>
        </div>
    </header>

    <!-- hero section -->
    <section class="section hero" id="home" aria-label="hero">
        <div class="container">
            <figure class="hero-banner img-holder has-before" style="--width: 640; --height: 840;">
                <img src=images/hero_img.jpeg width="640" height="840" alt="Ik Desinger" class="img-cover">
            </figure>
            <div class="hero-content">
                <p class="section-subtitle">Ishpreet Kaur</p>
                <h2 class="h1 hero-title">Media Designer</h2>
                <h2 class="connect">A Girl trying to bring creativity and innovation on every project I worked on, With the passion I am having and the keen eye of every details of design to my work makes me more passionate about my work. I try to create content that are
                    both aesthetically pleasing and user-friendly.Before Going Forward, You can connect with me On</h2>

                <ul class="hero-list">
                    <li>
                        <a href="https://instagram.com/ishpreet.xo?igshid=YmMyMTA2M2Y=" class="list-link">
                            <span class="span">Instagram</span>
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.behance.net/ishpreetkaur9" class="list-link">
                            <span class="span">Behance</span>
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/ishpreetxo" class="list-link">
                            <span class="span">Dribble</span>
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- about me section -->
    <section class="about-me">
        <div class="container">
            <p class="section-subtitle">About Me</p>
            <h2 class="h2 section-title">Know Bit more About Me</h2>
            <div class="container4">
                <p class="section-text">
                    I am a passionate and creative media designer who excels in the fields of graphic design, web design, and video production. I have a strong interest in technology and how it can be used to create innovative and exciting designs. I am always looking for
                    new ways to push the boundaries of my creativity and I am constantly striving to improve my skills.
                </p>
                <figure class="hero-banner2 img-holder has-before" style="--width: 640; --height: 540;">
                    <img class="aboutmeimg" src=images/aboutme.jpg alt="aboutme image" height="500" width="500">
                </figure>

            </div>
        </div>
    </section>
    <!-- portfolio section -->
    <main id="app">

        <Section class="section portfolio" id="MyWork" aria-label="portfolio">
            <div class="container">
                <p class="section-subtitle">Portfolio</p>
                <!-- vue section goes here -->





                <!-- components section down below-->

                <article class="portfolioinfo">
                    <h2 class="h2 section-title">Selected Works</h2>
                    <nav id="mini-nav">
                        <ul class="project_display">
                            <projectdisplay v-for="portfolio in projectData" :portfolio="portfolio"></projectdisplay>
                        </ul>
                    </nav>
                </article>
            </div>

        </Section>
        <div class="button">
            <a href="https://drive.google.com/drive/folders/1wc3kLLvxrlj2wTaHSeBwNWiCnDEacgcG" target="_blank" class="view-button">Click Here and Take a look at my Work </a>
        </div>

    </main>
    <!-- vue section ends here -->
    <!-- SKILL SET -->
    <section class="section skills has-before" id="skills" aria-label="skills" style="background-image: url('./images/skill_bg.png')">
        <div class="container">
            <div class="skills-content">
                <p class="section-subtitle">Skills</p>
                <h2 class="h2 section-title">Overall SkillSet</h2>
                <p class="section-text2">
                    I have been accomplishing enough with modern Web Development & Designing along with that, I have been quite familiar with 3D Desiging as well. Below are the Skill Set and Software which I am quite familiar and having expertise in using them.
                </p>
                <ul class="skills-list">
                    <li class="skills-item2">
                        <div class="wrapper">
                            <h3 class="skill-title">HTML & CSS</h3>
                        </div>
                        <div class="wrapper">
                            <h3 class="skill-title">JavaScript</h3>
                        </div>
                        <div class="wrapper">
                            <h3 class="skill-title">3D Designing</h3>
                        </div>
                        <div class="wrapper">
                            <h3 class="skill-title">Adobe Photoshop</h3>
                        </div>
                        <div class="wrapper">
                            <h3 class="skill-title">Adobe Illustrator</h3>
                        </div>
                        <div class="wrapper">
                            <h3 class="skill-title">Adobe After Effects</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- contact page-->
    <section class="section contact" id="contact" aria-label="contact">
        <div class="container">
            <div class="contact-content">
                <p class="section-subtitle">Contact</p>
                <h2 class="h2 section-title">Get In Touch</h2>
                <p class="section-text">
                    Please fill out the form on this section to contact with me.
                </p>
                <ul class="contact-list">
                    <li class="contact-item">
                        <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
                        <address class="contact-link">London, Ontario</address>
                    </li>
                    <li class="contact-item">
                        <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                        <a href="mailto:contactme@ishpreetkaur.org
                        " class="contact-link">contactme@ishpreetkaur.org
                        </a>
                    </li>
                    <li class="contact-item">
                        <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
                        <a href="www.domain.com" class="contact-link">www.ishpreetkaur.org</a>
                    </li>
                </ul>
            </div>
            <form action="send.php" method="POST" id="mail-form" class="contactpage">
                <ul>
                    <li>
                        <input class="input" v-model="form.firstname" ref="fname" type="text" name="name" id="firstname" name="firstname" aria-label="name" placeholder="Name" required class="input-field">

                        <div class="errorinput" v-if=" errorFirstname">
                            <p>There might be a error in your first name</p>
                        </div>
                    </li>
                    <li>
                        <div class="errorinput" v-if="errormail">
                            <p>There might be error in your email</p>
                        </div>
                        <input class="input" id="email" v-model="form.email" ref="email" type="email" name="email_address" aria-label="email" placeholder="Email" required class="input-field">
                    </li>
                    <li>
                        <div class="errorinput" v-if="errorinput">
                            <p>There is a error here, Kindly Recheck.</p>
                        </div>
                        <textarea name="message" aria-label="message" placeholder="Message" class="input" v-model="form.text" ref="message" name="message" id="message" required class="input-field"></textarea>
                    </li>

                    <button @click.prevent="processMail" type="submit" class="button" value="Send Mail">
                    <span class="span">Submit</span>
                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                    </button>
                    <div class="onsuccess" v-if="successmsg">
                        <p class="sent">Thankyou for Sending Us Your Message, We Will be right back to you </p>
                    </div>
            </form>
        </div>
    </section>
    <!-- footer-->
    <footer class="footer">
        <div class="container">
            <p class="copyright">
                &copy; 2022. All rights reserved by <a href="#" class="copyright-link">Ishpreet Kaur</a>
            </p>
            <ul class="social-list">
                <li>
                    <a href="https://twitter.com/ishpreetkaurrrr" class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/ishpreet.xo?igshid=YmMyMTA2M2Y=" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ishpreet-kaur-5b4362218/" class="social-link">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- icon script-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <!-- load script tags at the bottom -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module"></script>
</body>

</html>