:root {
    //color as per the color palate*/
    --sonic-silver: #757575;
    --spanish-gray: #999999;
    --theme-color: #e63946;
    --light-gray: #cccccc;
    --gray-x-11: #bababa;
    --dim-gray: #707070;
    --cultured: #ffffff;
    --black_10: #0000001a;
    --black_20: #00000033;
    --black_30: #0000004d;
    --black_70: #000000b3;
    --white_10: #ffffff1a;
    --white: #ffffff;
    --black: #000000;
    //    font and font-size here
    --ff-poppins: 'Poppins', sans-serif;
    --ff-mulish: 'Mulish', sans-serif;
    //spacing
    --section-padding: 80px;
    //shadow
    --shadow: 0 0 20px hsla(0, 0%, 0%, 0.08);
    //radius
    --radius-10: 10px;
    --radius-8: 8px;
    // transition
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

.container {
    padding-inline: 30px;
    text-align: center;
}

.projectname {
    font-size: 28px;
    font-family: var(--ff-poppins);
    text-align: center;
    color: var(--black);
    font-weight: 600;
    margin: 40px;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: underline 4px var(--theme-color);
}

.project_info {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 10px;
}

.built-with {
    margin-top: 20px;
    background-color: var(--theme-color);
    color: var(--black_70);
    padding: 08px;
    border-radius: 20px;
    font-size: 16px;
}

.section {
    padding-block: var(--section-padding);
}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    // background-color: var(--light-gray);
    overflow: hidden;
}

.has-before {
    position: relative;
    z-index: 1;
}

.hidden {
    display: none;
}

.has-before::before {
    position: absolute;
    content: "";
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-subtitle {
    color: var(--theme-color);
    font-family: var(--ff-poppins);
    font-weight: 500;
    margin-block-end: 6px;
    font-size: 26px;
}

.h1,
.h2,
.h3 {
    color: var(--black);
    font-family: var(--ff-poppins);
}

.h1 {
    font-size: 3rem;
}

.h1,
.h2 {
    font-weight: 800;
    text-transform: uppercase;
}

.h2 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.h1,
.h3 {
    line-height: 1.4;
}

.h3 {
    font-size: 1.8rem;
}

.section-title {
    margin-block-end: 40px;
}

:is(.portfolio, .news) .section-title {
    margin-block-end: 60px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-10);
}

.header {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // background-image: url(/images/skill_bg.png);
    background-color: var(--white);
    padding-block: 15px;
    border-block-end: 1px solid var(--black_10);
    z-index: 4;
}

.header>.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.logo2 {
    display: grid;
}

.nav-toggle-btn .line {
    width: 30px;
    height: 2px;
    background-color: var(--black);
    transition: var(--transition);
}

.nav-toggle-btn .line:not(:last-child) {
    margin-block-end: 8px;
}

.nav-toggle-btn.active .line-1 {
    transform: translateY(10px) rotate(45deg);
}

.nav-toggle-btn.active .line-2 {
    transform: translateX(-100%);
    opacity: 0;
}

.nav-toggle-btn.active .line-3 {
    transform: translateY(-10px) rotate(-45deg);
}

.navbar {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding-inline: 30px;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.3s var(--cubic-out);
}

.navbar.active {
    max-height: 250px;
    visibility: visible;
    transition-duration: 0.5s;
}

.navbar-list {
    margin-block: 25px;
}

.navbar-link {
    color: var(--black);
    font-family: var(--ff-poppins);
    font-weight: 500;
}