:root {
    //color as per the color palate*/
    --sonic-silver: #757575;
    --spanish-gray: #999999;
    --theme-color: #e63946;
    --light-gray: #cccccc;
    --gray-x-11: #bababa;
    --dim-gray: #707070;
    --cultured: #ffffff;
    --black_10: #0000001a;
    --black_20: #00000033;
    --black_30: #0000004d;
    --black_70: #000000b3;
    --white_10: #ffffff1a;
    --white: #ffffff;
    --black: #000000;
    //    font and font-size here
    --ff-poppins: 'Poppins', sans-serif;
    --ff-mulish: 'Mulish', sans-serif;
    //spacing
    --section-padding: 80px;
    //shadow
    --shadow: 0 0 20px hsla(0, 0%, 0%, 0.08);
    //radius
    --radius-10: 10px;
    --radius-8: 8px;
    // transition
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

.container {
    padding-inline: 30px;
    text-align: center;
}

.projectname {
    font-size: 28px;
    font-family: var(--ff-poppins);
    text-align: center;
    color: var(--black);
    font-weight: 600;
    margin: 40px;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: underline 4px var(--theme-color);
}

.project_info {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 10px;
}

.built-with {
    margin-top: 20px;
    background-color: var(--theme-color);
    color: var(--black_70);
    padding: 08px;
    border-radius: 20px;
    font-size: 16px;
}

.section {
    padding-block: var(--section-padding);
}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    // background-color: var(--light-gray);
    overflow: hidden;
}

.has-before {
    position: relative;
    z-index: 1;
}

.hidden {
    display: none;
}

.has-before::before {
    position: absolute;
    content: "";
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-subtitle {
    color: var(--theme-color);
    font-family: var(--ff-poppins);
    font-weight: 500;
    margin-block-end: 6px;
    font-size: 26px;
}

.h1,
.h2,
.h3 {
    color: var(--black);
    font-family: var(--ff-poppins);
}

.h1 {
    font-size: 3rem;
}

.h1,
.h2 {
    font-weight: 800;
    text-transform: uppercase;
}

.h2 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.h1,
.h3 {
    line-height: 1.4;
}

.h3 {
    font-size: 1.8rem;
}

.section-title {
    margin-block-end: 40px;
}

:is(.portfolio, .news) .section-title {
    margin-block-end: 60px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-10);
}

.header {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // background-image: url(/images/skill_bg.png);
    background-color: var(--white);
    padding-block: 15px;
    border-block-end: 1px solid var(--black_10);
    z-index: 4;
}

.header>.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.logo2 {
    display: grid;
}

.nav-toggle-btn .line {
    width: 30px;
    height: 2px;
    background-color: var(--black);
    transition: var(--transition);
}

.nav-toggle-btn .line:not(:last-child) {
    margin-block-end: 8px;
}

.nav-toggle-btn.active .line-1 {
    transform: translateY(10px) rotate(45deg);
}

.nav-toggle-btn.active .line-2 {
    transform: translateX(-100%);
    opacity: 0;
}

.nav-toggle-btn.active .line-3 {
    transform: translateY(-10px) rotate(-45deg);
}

.navbar {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding-inline: 30px;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.3s var(--cubic-out);
}

.navbar.active {
    max-height: 250px;
    visibility: visible;
    transition-duration: 0.5s;
}

.navbar-list {
    margin-block: 25px;
}

.navbar-link {
    color: var(--black);
    font-family: var(--ff-poppins);
    font-weight: 500;
}

// hero_style
.slide-down-btn {
    display: none;
}

.hero {
    background-color: var(--cultured);
    padding-block-start: calc(var(--section-padding) + 30px);
}

.hero-banner {
    margin-block-end: 60px;
    max-height: 500px;
    border-radius: var(--radius-10);
    margin-inline: auto;
    margin-top: 40px;
}

.hero-content {
    text-align: center;
}

.hero-title {
    margin-block: 10px 20px;
}

.hero-list {
    margin-block-end: 25px;
    display: flex;
    margin-top: 10px;
    gap: 13px;
    justify-content: center;
}

.hero-list .list-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    color: var(--black);
    font-size: 1.7rem;
    padding-block: 6px;
}

.hero-list .list-link:is(:hover, :focus) {
    color: var(--theme-color);
}

.hero-list .list-link .span,
.hero-list .list-link ion-icon {
    transition: var(--transition);
}

.hero-list .list-link:is(:hover, :focus) ion-icon {
    transform: rotate(-45deg);
}

.exp-list .list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-family: var(--ff-poppins);
    line-height: 1.4;
}

.exp-list .list-item:not(:last-child) {
    margin-block-end: 15px;
}

.exp-list .strong {
    color: var(--black);
    font-size: 3.5rem;
    font-weight: 600;
}

.exp-list .span {
    font-size: 1.3rem;
}

.connect {
    font-size: 15px;
}

.about-me {
    text-align: center;
    font-size: 20px;
}

.about-me h1 {
    color: var(--theme-color);
}

.hero-banner2 {
    margin-block-end: 60px;
    max-height: 300px;
    border-radius: var(--radius-10);
    margin-inline: auto;
    margin-top: 20px;
}

.demoreel {
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    background-color: var(--theme-color);
    border-radius: 20px;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    // text-decoration: 2px underline;
}

.demoreel:hover {
    background-color: #ffffff;
    color: black;
    transition: 25ms;
}

//portfolio css
// skills
.skills-banner {
    display: none;
}

.section-text2 {
    margin-bottom: 30px;
    font-size: 12px;
}

.skills {
    background-color: var(--black);
}

.skills .section-title {
    color: var(--white);
}

.skills .section-text {
    color: var(--gray-x-11);
    margin-block: 40px 45px;
}

.skills-list .wrapper {
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-family: var(--ff-poppins);
    margin-block-end: 10px;
    font-size: 10px;
}

.skills-content {
    text-align: center;
}

// text skills
.skills-item2 {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    opacity: 0.4;
    text-align: center;
}

// contact
.contact {
    background-color: var(--cultured);
}

.errorinput {
    margin: 10px;
    color: var(--theme-color);
    text-transform: uppercase;
    font-weight: 500;
}

.contact-list {
    margin-block: 40px 50px;
}

.contact-item:not(:last-child) {
    margin-block-end: 22px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact-item ion-icon {
    color: var(--theme-color);
    font-size: 22px;
    flex-shrink: 0;
    --ionicon-stroke-width: 25px;
}

.contact-link {
    color: var(--black);
    font-family: var(--ff-poppins);
}

.input,
.email {
    color: var(--black);
    font-family: var(--ff-poppins);
    font-size: 1.3rem;
    letter-spacing: 1.4px;
    border: 1px solid var(--black_10);
    padding: 10px;
    margin-block-end: 30px;
    outline: none;
    transition: border var(--transition);
}

.input-field:focus {
    border-color: var(--black_30);
}

.onsuccess {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    background-color: rgb(30, 224, 30);
    color: black;
}

textarea.input-field {
    resize: vertical;
    min-height: 45px;
    height: 45px;
    max-height: 100px;
}

.project_items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

.button {
    background-color: var(--theme-color);
    color: var(--white);
    width: 100%;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    transition: var(--transition);
}

.button:hover {
    background-color: var(--black);
}

.button ion-icon {
    transition: var(--transition);
}

.button:hover ion-icon {
    transform: rotate(-45deg);
}

// footer
.footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding-block: 30px;
}

.copyright {
    margin-block-end: 10px;
}

.copyright-link {
    display: inline-block;
}

.copyright-link:is(:hover, :focus) {
    text-decoration: underline;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-link {
    font-size: 17px;
}