:root {
    /** 
   * colors
   */
    --sonic-silver: hsl(0, 0%, 46%);
    --spanish-gray: hsl(0, 0%, 60%);
    --theme-color: hsl(10, 100%, 57%);
    --light-gray: hsl(0, 0%, 80%);
    --gray-x-11: hsl(0, 0%, 73%);
    --dim-gray: hsl(0, 0%, 44%);
    --cultured: hsl(0, 0%, 98%);
    --black_10: hsl(0, 0%, 0%, 0.1);
    --black_20: hsl(0, 0%, 0%, 0.2);
    --black_30: hsl(0, 0%, 0%, 0.3);
    --black_70: hsl(0, 0%, 0%, 0.7);
    --white_10: hsl(0, 0%, 100%, 0.1);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    /**
   * typography
   */
    --ff-poppins: 'Poppins', sans-serif;
    --ff-mulish: 'Mulish', sans-serif;
    --fs-35: 3.5rem;
    --fs-30: 3rem;
    --fs-25: 2.5rem;
    --fs-18: 1.8rem;
    --fs-17: 1.7rem;
    --fs-13: 1.3rem;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    /**
   * spacing
   */
    --section-padding: 80px;
    /**
   * shadow
   */
    --shadow: 0 0 20px hsla(0, 0%, 0%, 0.08);
    /**
   * radius
   */
    --radius-10: 10px;
    --radius-8: 8px;
    /**
   * transition
   */
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
img,
span,
input,
button,
textarea,
ion-icon {
    display: block;
}

img {
    height: auto;
}

input,
button,
textarea {
    background: none;
    border: none;
    font: inherit;
}

input,
textarea {
    width: 100%;
}

button {
    cursor: pointer;
}

ion-icon {
    pointer-events: none;
}

address {
    font-style: normal;
}

html {
    font-family: var(--ff-mulish);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--sonic-silver);
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: 0.2px;
}

:focus-visible {
    outline-offset: 4px;
}

::placeholder {
    color: var(--dim-gray);
}

::-webkit-scrollbar {
    width: 12px;
    height: 2px;
}

body::-webkit-scrollbar-track {
    background-color: var(--white);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--spanish-gray);
    border: 3px solid var(--white);
    border-radius: 50px;
}